/*-----HEADER-----*/
.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header_options {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--latter-spacing-minimum);
  color: var(--color-theme-light-primary);
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.navigation__link.current {
  color: #2196f3;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--background-color-button);
  }
}

.communication {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: var(--latter-spacing-minimum);
}

.communication_options {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.communication-list-mailo {
  margin-right: 50px;
}

.communication_mailo_position {
  margin-right: 30px;
}

.communication_theme_color {
  color: var(--color-theme-light-secondary);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-accent);
  }
}

.communication__icon {
  margin-right: 10px;
  fill: var(--color-theme-light-secondary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .communication_theme_color:hover &,
  .communication_theme_color:focus &,
  .communication_theme_color:active & {
    fill: var(--color-accent);
  }
}
